<!DOCTYPE html>
<html lang="en-us">
<head>

    <title>Team Technoman Team</title>
    <link rel="stylesheet" href="style.css" v=ergerg>

</head>

<body>

    <h1>Welkom op de website van ons project!</h1>
    <p>De bedoeling van dit spel is om binnen een tijd van 5 minuten een zo hoog mogelijk score te behalen.</p>
    <p>Dit doet u door met de controller die hierbij ligt de auto te besturen en met de auto het blokkje van punt A
    naar punt B te brengen. Maar het blokje heeft twee kaarten, elke kaart hoort maar bij één punt, probeer dus om de goede
    kaart naar het goede punt te brengen. U kunt aan de lampjes zien of de kaart goed is of niet.</p>
    <p>Als de kaart goed is zal het lampje van het punt waar u het blokje heb gebracht uitgaan en het lampje van het
    andere punt zal gaan branden.</p>
    <p>Als de kaart fout is zal het lampje van het foute punt knipperen en dan moet u naar het volgende punt rijden,
        u krijgt dan ook geen punt bij uw score opgeteld.</p>
    <p>Om te beginnen voert u hieronder uw naam in, zodra u deze heeft ingevoerd zal de tijd gaan lopen.</p>

    <p>Klik <a href="/score">hier</a> om naar het scoreboard te gaan</p>

<form class="box" action="#" method="post">
    <h1>Naam</h1>
    <input type="text" name="nm"/>
    <input type="submit" value="Klaar" />
</form>

</body>

</html>
